!!!
%html
%head
  %title RESTbook
  = stylesheet_link_tag "restbook/application"
  = stylesheet_link_tag  "application"
  = javascript_include_tag "application"
  /[if lt IE 9]
    %script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
  = csrf_meta_tags
%body
  %header
    %h1 Welcome to RESTbook!
    %nav
      %ul
        %li= link_to "Home", main_app.root_path
        %li= link_to "Read the RESTbook!", restbook.root_path
        %li= link_to "Sign the RESTbook!", restbook.sign_path
  %section#container
    = yield