!!!
%html
%head
  %title RESTbook
  = stylesheet_link_tag  "application"
  = stylesheet_link_tag "restbook/application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  %header
    %h1 Welcome to RESTbook!
    %nav
      %ul
        %li= link_to "Read the RESTbook!", root_path
        %li= link_to "Sign the RESTbook!", sign_path
  %section#container
    = yield