= form_for @comment do |f|
  - if @comment.errors.any?
    #errorExplanation
      %h2 #{pluralize(@comment.errors.count, "error")} prevented this comment from being saved:
      %p
        %ul
          =list_of(@comment.errors.full_messages) do |msg|
            = msg
  %fieldset
    %legend Add your signature!
    = f.label :author, "Your name:"
    = f.text_field :author, placeholder: "#1 RESTbook Fan"
    = f.label :body, "Message:"
    = f.text_area :body, placeholder: "RESTbook rules!"
    = f.submit "Submit"